/* static/custom.css */
body {
    background-image: url('/images/749501b9-e8e2-42ff-b1b5-1c650606c434.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

{{ $styles := resources.Get "styles/custom.css" }}
{{ if $styles }}
    <link rel="stylesheet" href="{{ $styles.RelPermalink | safeURL }}" type="text/css">
{{ end }}